label#title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
button{
background-image: none;
background-color: #555555;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
button#button{
background-image: none;
background-color: #555555;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 30px 40px;
}
frame#frame{
	color: white;
	font-weight: bold;
}
label#label_piso {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
button#button_h{
background-image: none;
background-color: #D1CD5D;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 30px 40px;
}