label#titulo {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  color: white;
  font-weight: bold;
}
label#barra_1 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: black;
  font-weight: bold;
}
label#data_ent_l {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
label#data_said_l {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
label#matri_l {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
label#valor_l {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
label#barra_2 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: black;
  font-weight: bold;
}
label#mensagem {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
label#data_c {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
label#data_s {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
label#matri {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
label#valor {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

button#voltar_i{
background-image: none;
background-color: #555555; /* Green */
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 20px 30px;
}